pipeline/humana_ingest_and_forward_to_arcadia.json
{
	"name": "humana_ingest_and_forward_to_arcadia",
	"properties": {
		"description": "Ingest a CSV (or other text file) from an SFTP site into a data lake.",
		"activities": [
			{
				"name": "Get List of Files in the Source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_humana_sftp_source",
						"type": "DatasetReference",
						"parameters": {
							"filename": "*.ZIP"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Copy Each Source File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get List of Files in the Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get List of Files in the Source').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy SFTP to Source Raw",
							"description": "File remains in original format",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false,
										"disableChunking": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_humana_sftp_source",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_humana_source_raw",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Decompress File to Source Processed",
							"description": "File will be unzipped",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy SFTP to Source Raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "raw/@{concat('humana','/','/')}/@{item().name}"
								},
								{
									"name": "Destination",
									"value": "raw/@{concat('humana','/','unzipped')}/@{item().name}"
								},
								{
									"name": "FileEnding",
									"value": "@split(item().name, '_')[2]"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings",
											"preserveZipFileNameAsFolder": false
										}
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Binary1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Binary1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "If Condition Send to Arcadia",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Decompress File to Source Processed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(split(item().name, '_'), 'REMBX.ZIP')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sftp_address": {
				"type": "string"
			},
			"sftp_port": {
				"type": "string"
			},
			"sftp_username": {
				"type": "string"
			},
			"sftp_password": {
				"type": "string"
			},
			"root_folder": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Payer/humana"
		},
		"annotations": []
	}
}