pipeline/sftp_ingest_csv_to_lake.json
{
	"name": "sftp_ingest_csv_to_lake",
	"properties": {
		"description": "Ingest a CSV (or other text file) from an SFTP site into a data lake.",
		"activities": [
			{
				"name": "Get List of Files in the Source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "humana_sftp_source",
						"type": "DatasetReference",
						"parameters": {
							"filename": "*.ZIP"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"enablePartitionDiscovery": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Copy Each Source File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get List of Files in the Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get List of Files in the Source').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Source to Source Lake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false,
										"disableChunking": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "humana_sftp_source",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_datalake_raw",
									"type": "DatasetReference",
									"parameters": {
										"SystemName": "humana",
										"SubSystemName": "source_raw",
										"RawFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"sftp_address": {
				"type": "string"
			},
			"sftp_port": {
				"type": "string"
			},
			"sftp_username": {
				"type": "string"
			},
			"sftp_password": {
				"type": "string"
			},
			"root_folder": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Ingest"
		},
		"annotations": []
	}
}